button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
  color: #fff;

  &:hover {
    background-color: #0558be;
  }

  &:focus,
  &:focus-visible {
    background-color: #0558be;
  }
}
